.company-details 
  %h5.emphasis Hours 
  %table
    %tr
      %td Mon
      %td= @business.open_monday? ? "#{@business.mon_start}-#{@business.mon_end}" : "Closed"
    %tr
      %td Tue
      %td= @business.open_tuesday? ? "#{@business.tue_start}-#{@business.tue_end}" : "Closed"
    %tr
      %td Wed
      %td= @business.open_wednesday? ? "#{@business.wed_start}-#{@business.wed_end}" : "Closed"
    %tr
      %td Thu
      %td= @business.open_thursday? ? "#{@business.thu_start}-#{@business.thu_end}" : "Closed"
    %tr
      %td Fri
      %td= @business.open_friday? ? "#{@business.fri_start}-#{@business.fri_end}" : "Closed"
    %tr
      %td Sat
      %td= @business.open_saturday? ? "#{@business.sat_start}-#{@business.sat_end}" : "Closed"
    %tr
      %td Sun
      %td= @business.open_sunday? ? "#{@business.sun_start}-#{@business.sun_end}" : "Closed"