%section.business_show.container
  .row.business_card
    .company_info.col-md-6
      %h3.text-uppercase= "#{@business.company_name}"
      = render partial: 'shared/star_rating_readonly', locals: { rating: @business.average_rating }
      %span.muted 42 reviews
    %div.col-md-3
      =link_to new_business_review_path(@business), class: 'review_button ybtn' do
        %span.glyphicon.glyphicon-star
        Write a Review
    .company_contact.col-md-3.address
      = @business.address
      %br/
      = "#{@business.city}, #{@business.state} #{@business.zipcode}"
      %br/      
      = @business.phone
.row.padded-column
  .col-md-9
    - @reviews.each do |review|
      - user = review.user
      %section.row
        .reviews
          .row.review-card
            = profile_pic(user.profile_picture, 1)
            .reviewer-info.col-md-3
              = link_to "#{review.user.first_name_with_last_initial}", user
              %br/
              = "#{user.location}"
              .muted= "#{user.total_reviews}"
            .user-rating.col-md-7
              = render partial: 'shared/star_rating_readonly', locals: { rating: review.rating }
              %span.muted= formatted_date(review.created_at)
              .review-preview
                = "#{review.comment}"
          %hr
  .company_side-bar.col-md-3
    - if @business.hours_given?
      = render partial: 'hours', object: @business  
    .company-details
      %h5.emphasis More Business Info
      %div Bike Parking
      %span= @business.bike_parking ? "Yes" : "No"
      %div Credit Cards Accepted
      %span= @business.credit_cards ? "Yes" : "No"
      %div Wheel Chair Accessible
      %span= @business.wheel_chair ? "Yes" : "No"

