%section.profile_show.container
  .row
    = profile_pic(@user.profile_picture, 3)
    .reviewer-info
      = link_to "#{@user.first_name_with_last_initial}", '#'
      %br/
      = "#{@user.location}"
      .muted= "#{@user.total_reviews}"