%section#top-header.container-fluid
  .main-header_wrapper.row
    .parent-container
      .col-md-1.col-md-offset-2
        = link_to image_tag "/images/yelp_icon.png"
      %form.form-inline.search-form.col-md-6
        .input-group
          %input.form-control(type="text")
          %span.input-group-btn
            .btn.btn-secondary(type="submit")
              %span.sr-only Search
              %span.glyphicon.glyphicon-search.white
      - unless logged_in?
        .btn.white.col-md-1
          = link_to 'Sign Up', register_path
  - if logged_in?
    %section#sub-header.row
      .white.col-md-offset-5.col-md-2
        = link_to 'Create a Business', new_business_path    
      .white.col-md-2
        = link_to 'View Businesses', businesses_path
      .white.login.col-md-2
        = link_to 'Log Out', '#'
  - else
    %section#sub-header.row
      .white.col-md-offset-7.login.col-md-2
        = link_to 'Log In', login_path