%section.container
.padded-column
  .row
    %h4.emphasis.col-md-4 Recent Reviews
  %hr
  - @recent_reviews.each do |review|
    .row.profile-review
      .company-info.col-md-3
        %h4= link_to review.business.company_name, business_path(review.business)
        .address
          = review.business.address
          %br/
          = "#{review.business.city}, #{review.business.state} #{review.business.zipcode}"
      .user-rating.col-md-7
        = render partial: 'shared/star_rating_readonly', locals: { rating: review.rating }
        %span.muted= formatted_date(review.created_at)
        .review-preview
          = review.comment
    %hr