.padded-column
  %h4.emphasis Write a Review
  .company_info
    %h3.text-uppercase @business.company_name
  .company_contact.address
    = "#{@business.address}, #{@business.city}, #{@business.state} #{@business.zipcode}"
  %hr
  %h4 Your Review
  %form.clearfix.with-border#new-review
    .btn-group.star-rating.large-rating.rateable(data-toggle="buttons")
      %label.btn.btn-primary(for="rating-5")      
        %input(type="radio" name="rating-5" id="rating-5")
        %span.glyphicon.glyphicon-star
      %label.btn.btn-primary(for="rating-4")        
        %input(type="radio" name="rating-4" id="rating-4")
        %span.glyphicon.glyphicon-star
      %label.btn.btn-primary(for="rating-3")          
        %input(type="radio" name="rating-3" id="rating-3")
        %span.glyphicon.glyphicon-star
      %label.btn.btn-primary(for="rating-2")          
        %input(type="radio" name="rating-2" id="rating-2")
        %span.glyphicon.glyphicon-star
      %label.btn.btn-primary(for="rating-1")          
        %input(type="radio" name="rating-1" id="rating-1")
        %span.glyphicon.glyphicon-star
    .form-group
      %label(for="comment")
      %textarea(id="comment" name="comment" maxlength="400" rows="5" cols="100")
    .form-group
      %button.ybtn.col-md-2(type="submit") Submit Review
      = link_to "Cancel", "#"