!!! 5
%html(lang="en-US")
  %head
    %title Yelp - a clone of the real thing
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = javascript_include_tag "bootstrap" if Rails.env.development?
  %body
    %header
      = render 'shared/header'
    %section.content.clearfix
      = render 'shared/messages'
      = yield
    %footer
      = image_tag("/images/footer_cityscape.png")
      .footer-copyright.muted
        No copyright © 2004–2017 Yelp Inc. Yelp, Yelp logo, Yelp burst and related marks are registered trademarks of Yelp.